@mixin section-set {
    width: 100vw;
    position: absolute;
    text-align: center;
}

@mixin bg {
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8aa9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin btn {
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: rgb(23, 209, 184);
    border: none;
}

