*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.clock{
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 250px;
}

.clock::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: #c66fc9;
    border-radius: 50%;
}
.num{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.num1{
    transform: rotate(30deg);
}

.num1 div{
    transform: rotate(-30deg);
}

.num2{
    transform: rotate(60deg);
}

.num2 div{
    transform: rotate(-60deg);
}

.num3{
    transform: rotate(90deg);
}

.num3 div{
    transform: rotate(-90deg);
    color: #c66fc9;
    font-size: 2.5rem;
}

.num4{
    transform: rotate(120deg);
}

.num4 div{
    transform: rotate(-120deg);
}

.num5{
    transform: rotate(150deg);
}

.num5 div{
    transform: rotate(-150deg);
}

.num6{
    transform: rotate(180deg);
}

.num6 div{
    transform: rotate(-180deg);
    color: #c66fc9;
    font-size: 2.5rem;
}

.num7{
    transform: rotate(210deg);
}

.num7 div{
    transform: rotate(-210deg);
}

.num8{
    transform: rotate(240deg);
}

.num8 div{
    transform: rotate(-240deg);
}

.num9 {
    transform: rotate(270deg);
}

.num9 div{
    transform: rotate(-270deg);
    color: #c66fc9;
    font-size: 2.5rem;
}

.num10{
    transform: rotate(300deg);
}

.num10 div{
    transform: rotate(-300deg);
}

.num11{
    transform: rotate(330deg);
}

.num11 div{
    transform: rotate(-330deg);
}

.num12 div{
    color: #c66fc9;
    font-size: 2.5rem;
}



.hand{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.hand div{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background:#c66fc9;
    border-radius: 6px 6px 0 0;
}

.hr{
    width: 8px;
    height: 28%;
}

.mn{
    width: 4px;
    height: 38%;
}

.hand .sc{
    width: 2px;
    height: 40%;
}


/***** LUkMan's WorK *****/
body {
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8aa9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#267871), to(#136a8a));
  background: -webkit-linear-gradient(left, #267871, #136a8a);
  background: -o-linear-gradient(left, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p,
button {
  font-weight: bold;
}

/***** TEXT SECTION *****/
/** ClOCK  SECTION**/
.clock-text {
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 103vh;
}

.clock-text__h2 {
  margin-bottom: 1rem;
}

.clock-text__time {
  margin-bottom: 0.5rem;
}

/** ALARM  SECTION**/
.alarm-text {
  width: 100vw;
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 118vh;
  margin-top: 2rem;
}

.alarm-text__time {
  margin-bottom: 0.5rem;
}

.alarm-text__date {
  margin-bottom: 1.5rem;
}

.alarm-text .alarm-set {
  display: inline-block;
  background-color: #17d1b8;
  padding: 1rem 2.6rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 0.7rem;
}

.alarm-text .alarm-set__box {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 15rem;
  padding: 0.5rem 0;
}

.alarm-text .alarm-set__p {
  margin: 0.5rem 0;
}

.alarm-text .alarm-set__countdown {
  margin: 0.5rem 0;
}

.alarm-text .alarm-set__btn {
  padding: .5rem 1rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #17d1b8;
  border: none;
}

.alarm-text .set-alarm {
  margin: 1rem 0 0.5rem;
  padding: .5rem 1rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #17d1b8;
  border: none;
}

.alarm-text .alarm-edit {
  border: 1px solid black;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.alarm-text .alarm-edit__p {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

.alarm-text .alarm-edit__p .X {
  display: inline-block;
  margin-left: 8rem;
}

.alarm-text .alarm-edit__hours-minutes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.alarm-text .alarm-edit__hours-minutes .edit-hours {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.alarm-text .alarm-edit__hours-minutes .edit-hours #hour {
  width: 3rem;
}

.alarm-text .alarm-edit__hours-minutes .edit-minutes {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.alarm-text .alarm-edit__hours-minutes .edit-minutes #minutes {
  width: 3rem;
}

.alarm-text .alarm-edit__sound-choose {
  border: 1px solid black;
  margin: .5rem auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.alarm-text .alarm-edit__sound-choose .arrow-down {
  margin-left: 2rem;
}

.alarm-text .alarm-edit__sound-choose .arrow-right {
  border-left: 1px solid black;
}

.alarm-text .alarm-edit__btn {
  padding: .5rem 1rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #17d1b8;
  border: none;
}
/*# sourceMappingURL=main.css.map */